
@{
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}

@* <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> *@

<div class="container">
    <br /><br />
    <h2>Adınız Soyadınız: @ViewBag.name @ViewBag.surname</h2>
    <h2>Email Adresi: @ViewBag.name @ViewBag.email</h2>
    <h2>Telefon Numarası: @ViewBag.phone</h2>
</div>
